<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
    b, strong {
        font-weight: 100;
    }
    h2, .h2 {
        font-size: 30px;
        color: tomato;
    }
    h1, .h1 {
        font-size: 36px;
        color: #337ab7;
    }
</style>

<div class="content clearfix">

	<div class="page-area">
		<h2 class="page-title"><a>College History</a></h2>
		<p><img src="/images/4.jpg"></p>

		<h1><p>Milestone College</p></h1>

		<p style="text-align:justify">We, a number of educationists, had been discussing for a long time about the establishment of an educational institution of international standard. Among us, some have worked and are still working in universities and the others have worked at renowned colleges and cadet colleges as professors &amp; principals. In the light of our long experience, we have perceived that our children, despite securing good results and being meritorious, cannot attain the expected results because of excessive coyness. They are introvert; they know but cannot express their thoughts. Moreover, having completed their education in Bangla Medium, most of these students remain weak in writing and speaking in English. As a result, when they go abroad for higher studies, they fall in deep water. Even in our own country, they fail to get a good job in the multinational companies.</p>

		<p style="text-align:justify">On the other hand, our students attending the British Education curriculum, i.e. the students of ‘O’ level &amp; ‘A’ level face a great hardship while competing for admission in the BUET, Public Universities, Medical Colleges, etc. These students have segregated themselves from the age-old traditions &amp; customs in respect of dress, way of life, food habits and manners. This is mainly due to the British curriculum followed at ‘O’ &amp; ‘A’ level Exams. Where our students are taught British culture, heritage &amp; tradition. They leran British history, geography, economy, way of life etc. but not those of Bangladesh.</p>

		<p style="text-align:justify">Against this backdrop of confusion and disorder in the education system of the country, we ventured to establish an ideal educational institution in the year 2001 named Milestone College at Gareeb-e-Newaz Avenue, Sector 11 of Uttara Model Town, Uttara, Dhaka 1230. The building where we started is owned by Milestone family and now it is used as the Headquarters of Milestone.</p>

		<p style="text-align:justify">
			<h1><strong>Govt. Approval:</strong>&nbsp;<br></h1>
			Milestone College is approved by the Ministry of Education, Government of People’s Republic of Bangladesh, vide their letter no. sha 9168 (part) 313, dated, 18th May 2002 and Board of Intermediate and Secondary Education, Dhaka, Letter no. 1079 dated 24/07/2002. Our College Code Number is 1056 &amp; EIIN: 108572, Milestone Preparatory KG School is also approved by the Government, School Code Number is 1098.
		</p>
	</div>
</div>
		