<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
    b, strong {
        font-weight: unset;
        font-size: 20px;
        color: steelblue;
    }
</style>

<div class="content clearfix">

                    <div class="page-area">
                        <h2 class="page-title"><a>Academic Summary</a></h2>
                        <p><strong>About Teaching Faculty :</strong></p>

                        <p style="text-align:justify">Milestone college is acclaimed for the quality of its teaching. An emphasis on innovative teaching and motivation and investment in high-quality facilities means that no fewer than the parents of 6000 students have entrusted Milestone with their children’s education. Teachers are qualified, experienced and dedicated. Some of them have foreign degrees and working experience in foreign countries, others have outstanding academic result and working experience in cadet colleges and reputed government colleges, and the rest of them have a praiseworthy service record in this institution. Teachers place high value on providing its students with a fulfilling education in all disciplines including Science, Commerce and Arts. They work ceaselessly to provide the students with a solid academic foundation along with inculcating moral values in them.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Classroom Teaching:</strong></p>

                        <p style="text-align:justify">Lessons are imparted in a comprehensive, illustrative manner fitting to the competency level of the students. Stress is given on interactive teaching method and teachers ensure the participation of all students through discussion, argument, analysis, practice and visual or practical demonstration. Apart from that, teachers also try to make teaching entertaining. If a student just attends classes regularly, he/she will not require any home tutor or hand notes before examination.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Liaison between College &amp; the Guardian:</strong></p>

                        <p style="text-align:justify">We have introduced digital information’s system through which we inform the Guardian through “SMS” / e-mail within 10:00 hrs of every working day whether his ward is present / absent in the class. Likewise we keep the Guardian informed through “SMS” and message whether his ward is improving / deteriorating in respect of Academics, discipline etc</p>

                        <p><strong>Training for the faculty Members:</strong></p>

                        <p style="text-align:justify">Most of our teachers have completed five years service in this school/college. We arrange special training for them to understand and apply appropriate methods of instructions, teaching techniques, classroom management etc. in every week. Most of them have brilliant academic records. Teachers in the English medium section have ‘0’ and ‘A’ level background. We pay our teachers handsomely in comparison to similar other educational institutions of our country. We have been successful in making a team of dedicated teachers in our school and college.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Examination procedure:</strong></p>

                        <p style="text-align:justify">Assessment tests are taken regularly of the students of playgroup and nursery to class III. Lectures are imparted in such a way so that the students do not require to prepare any note or memorize the text before the examination. Students lagging behind academically are duly informed to the parents about the instructions necessary for the development of their individual academic performance.</p>

                        <p style="text-align:justify">Weekly, fortnightly, monthly and sudden tests are taken calendar-wise. Subject-wise examination, each of 100 marks, is taken in a term and the term examinations are conducted out of 75 marks. The rest 25 marks are taken from the average of the marks obtained in weekly, fortnightly, monthly and sudden tests. Term end exams are conducted in the months of March, June, September and December.</p>

                        <p><strong>Progress Report &amp; Parents’ Day:</strong></p>

                        <p style="text-align:justify">The progress report of the individual student is sent to his/her parents at the end of each term end examination for their information. The Parents’ Day is organized at the end of each term. On the occasion of parents’ day, teachers, form masters, in-charges, principal have productive discussions with the parents about the academic development and discipline of the students. The results are also preserved in the computer so that the parents may see them on working days.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>School Uniform :</strong></p>

                        <p style="text-align:justify">Students are strictly required to come to college wearing proper school uniform with badges, name tag and identity card. Details about the school uniform for boys &amp; girls are informed to the parents at the time of admission.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Calendar of Events:</strong></p>

                        <p style="text-align:justify">At the very beginning of a year, the calendar of events of the institution is sent to the parents for proper and clear information. For college section, the whole academic year is divided into four terms in the calendar of events. However, the school sections have three terms in an academic year. The calendar also includes dates of fortnightly, monthly and term end examinations and parents’ days. Further to that, it also includes the dates of many other curricular and extra-curricular activities to be conducted in an academic year.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Religious Occasions:</strong></p>

                        <p style="text-align:justify">For the hostel boarders performing evening prayer is compulsory. There is a separate prayer room in the hostel for boys. Attending Fazr and Magrib prayers from class-vi onward is compulsory for the Muslim students. The following religious festivals are celebrated with due respect and rituals. i) Shab-e-Qadar. ii) Eid-e-Miladunnabi. iii) Shab-e-Meraj. iv) Milad Mahfil. V) Hamdh, Naath and Azan competition. Students from other religions are also advised / encouraged to perform their religious activities.</p>

                        <p><strong>College Security Service:</strong></p>

                        <p style="text-align:justify">The college has a strong force of 40 guards under the command of a retired Captain of Bangladesh Army.They ensure security of our campuses.A set of guards remains vigilant during the rush hours so that no traffic jam occurs in front of the college campuses.</p>

                        <p><strong>Set Rules:</strong></p>

                        <p style="text-align:justify">Students are not allowed to go out of the college premises during the class hours without prior permission from the proper authority.</p>

                        <p>Payment of tuition fees has to be completed within the first 10 days of each month.</p>

                        <p>Attending classes regularly and punctually is a must for each and every student of the institute.</p>

                        <p style="text-align:justify">Absence due to physical or personal reasons over three days is to be informed to the college authority in black and white by the parents of the particular student.</p>

                        <p>Apart from academic programs, participating in extra curricular activities, games and sports,physical exercise etc. is ensured with due interest.</p>

                        <p><strong>Detention classes:</strong></p>

                        <p style="text-align:justify">If any student shows negligence or carelessness in doing his everyday lesson,he/she is detained after the break of the college. A detainee student must attend detention class and complete his unfinished homework for the day. The college makes arrangement for his lunch and the parents are informed about it well in time.</p>

                        <p><em>&nbsp;</em></p>

                        <p><strong>Academic Session:</strong></p>

                        <p>
                            <strong>College Academic session:</strong>&nbsp;July-June.<br>
                            <strong>School Academic session:</strong>&nbsp;January-December.<br>
                            <strong>Nursery:</strong>&nbsp;January-December.
                        </p>

                        <p><em>&nbsp;</em></p>

                        <p style="text-align:justify"><strong>Parents’ Day:</strong></p>

                        <p style="text-align:justify">There is a parents’ day at the end of each term. Dates of the parents’ day are shown on the calendar of events and also intimated to the guardians in writing at the end of each term end examination. Principal, Vice Principal, In-charges, Co-ordinators, Heads of all the Department and all faculty members remain present on the parents’ day. This is a wonderful occasion where parents can discuss about the performance of his sons/daughters with the faculty members of the<em> college. Necessary steps are taken to find out the latent qualities, creativity and humanitarian qualities of the students. </em></p>

                        <p><em>&nbsp;</em></p>

                        <!--<p><strong>Traits of the College:</strong></p>

                        <p>All the responsibilities are taken to flourish the merit of the students and to apply it to get the best out of them. More emphasis is given on English so that the students can write and speak in English correctly .</p>
                        <table border="0" cellpadding="4" cellspacing="0" style="width:726px">
                            <tbody>
                               

                                
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Necessary steps are taken to find out the latent qualities, creativity and humanitarian qualities of the students .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Importance is given to develop the physical and mental condition of each student .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Students are brought up in the hostel with affection and motherly love and care .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>The knowledge of morality, modesty, beauty, discipline, religion and social customs are taught to the students fully .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Attempts are taken to make them ideal man/woman in the light of religious and intellectual perspectives .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Necessary steps are taken to remove students’ shyness, rigidity and introvert attitudes .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>All responsibilities are taken to make each student an ideal citizen besides his/her studies .</strong></td>
                                </tr>
                                <tr>
                                    <td><strong><img alt="" src="http://www.milestonecollege.com/images/bullet.gif" style="height:7px; width:23px"></strong></td>
                                    <td><strong>Students are given financial aid based on their performance .</strong></td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            
<div class="content clearfix">

    <div class="page-area">
        <h2>Exam Routine for Class X &amp; IX</h2>

        <p><img src="/images/routine_x_16.jpg"></p>

        <p><img src="/images/routine_ix_16.jpg"></p>
    </div>
</div>



















































































































































































































































































































































































































































































































































































































































































































