<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
</style>




     

<div class="main-container">

     
                <div class="content clearfix">
                    <p><img src="~/images/10.jpg"></p>
                </div>
 
    </div>
