<div class="main-container">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
                background-color: skyblue;
            }
        </style>
        
        <div class="content clearfix">

                    <div class="page-area">
                        <h2 class="page-title"><a>Principal (Admin)</a></h2>
                        <p><img src="~/images/principal_admin.jpg"></p>

                        <p>welcome you to Milestone College online.</p>

                        <p style="text-align:justify">Education is the backbone of a nation and we have been here with you to be a part in this nation building process. For this, Milestone College is committed to spreading education in its truest sense accommodating a healthy number of extra-curricular and co-curricular activities and competitions amongst the tight academic schedules. Our success in academic results has earned for us top positions among the best colleges in the country.</p>

                        <p>Our achievements in the fields of sports and different cultural activities at national level are testimony to a wholesome standard of such activities in our institute.</p>

                        <p style="text-align:justify">In sports our Girls Cricket Team have become champion in Dhaka Education Board Cricket Championship in 2014 and 2015 consecutively. Milestone College Football Team became champion in Inter-College Football competitions organized by BISE Board, Dhaka in 2013 and again our Volleyball Team achieved the Champions trophy in the same prestigious event in 2014 both in Dhaka Mohanagar and Dhaka Division.</p>

                        <p style="text-align:justify">Milestone College Debating Club has been producing a great number of good debaters earning many prizes for this institution including the Champions trophy in English Parliamentary&nbsp; Debate-2014 organized by Bangladesh Television &amp; Runners-up position in the Debate Festival organized by the national Daily Prothom Alo in 2013 etc. In 2016 our Debate Team has toured different sites in Cox’s Bazar.</p>

                        <p style="text-align:justify">In the BNCC Capsule Training-2013 organized in Milestone College campus, Best Cadet was declared from Milestone College among 217 participants from different Universities and Colleges across the country.</p>

                        <p style="text-align:justify">As a part of education exchange programme, Milestone College has represented itself in many foreign institutions; such as our students have displayed excellent individual talent participating in the 23rd&nbsp;World Scout Jamboree held in Japan in 2015 and again in China Language Competition for Non-native people in 2012 bagging the First prize for our country.</p>

                        <p style="text-align:justify">In recently held 7th&nbsp;National Drama Workshop and Festival 2015 organized in Notre Dame College, Milestone College participants won the highest number of prizes that include 1st&nbsp;and 2nd&nbsp;positions in Extempore Acting.</p>

                        <p style="text-align:justify">We do strictly maintain a strong security system inside the campus for every academic and hostel buildings and outside the premises, under the command of a retired Defence personnel. In collaboration with our core academic administrative set-up our security force is always on guard addressing every single issues and solving problems with stress on religious, ethical and moral dimensions of human characteristics. It takes special care so that no student can commit any juvenile delinquency or get involved in any type of addiction whatsoever.</p>

                        <p style="text-align:justify">We have our own permanent campus at a single place in the heart of Uttara Model Town (3rd&nbsp;Phase) just by the ongoing Metro Rail Terminal Uttara, minutes away from the Rupayan City, Fantasy Island, BRTA office and Fire Brigade Station. It stands in the middle point from Savar, Ashulia, Mirpur, Mohakhali, Gulshan, Dakkhinkhan, Uttarkhan, Pubail and Gazipur. Besides there is a good traffic network from and to this campus connecting the aforementioned points of the city. Apart from the public transport routes we have a sound transport facility of our own. With the opening of Metro Rail transport link, Motijheel is going to be a matter of only 35 minutes’ distance from our permanent Campus. We have both resident and non-resident options with separate academic and hostel buildings for girls and boys students.</p>

                        <p style="text-align:justify">Educationists believe that psychological as well as physical fitness of students is a pre-requisite to better learning. We have physical trainers, a full-time physician and a system of continuous motivation and counselling is our everyday business. One experienced psychiatrist keeps constant vigilance over the students in their adolescence and guides them how to be away from any kind of juvenile delinquency. We have a high standard of motivation module to handle every problem – academic and/or administrative – instantly and effectively. It’s again a pleasure on my part to inform you that we have two enriched libraries continuously being developed with various types of books and periodicals.</p>

                        <p style="text-align:justify">And for all these, there are about 350 teachers working in this section alone. In total we have over 10,000 (ten thousands) students &amp; 612 teachers (6 Retired Defence officers, 5 Retired Professors from Cadet Colleges, 2 retired Principals from gov’t colleges;&nbsp; 5 Associate Professors, 50 Assistant Professors and the rest are all Lecturers) working in this college.</p>

                        <p style="text-align:justify">Thus, on behalf of Milestone College Administration, I can assure you of a bright prospect for your beloved ward at Milestone College.</p>

                        <p>&nbsp;</p>

                        <p>
                            Lt. Col. M. Kamaluddin Bhuiyan (retd.)<br>
                            Principal (Administration)<br>
                            Email: m_kamaluddin07@yahoo.com
                        </p>
                    </div>
                </div>
         
            
    </div>