<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
    .six.columns {
        background-color: yellow;
    }
    .gdlr-item.gdlr-content-item {
        background-color: wheat;
    }
    h5, .h5 {
        font-size: 20px;
        color: steelblue;
    }
    h3, .h3 {
        font-size: 20px;
        color: steelblue;
    }
</style>
                        <div class="six columns">
                            <div class="gdlr-item gdlr-content-item">
                                <div class="pf-content">
                                    <h5>Uttara Campuses</h5>
                                    <p><strong>College</strong><br> Plot # 13, Road # 1/A, Sector # 14, Uttara Model Town, Dhaka-1230<br> Phone: 7920334, 7920340, 7920341<br> <strong>Hotline: 01847290391</strong></p>
                                    <p><strong> College</strong><br> Plot # 13, Road # 1/A, Sector # 14, Uttara Model Town, Dhaka-1230<br> Phone: 7920334, 7920340, 7920341<br> <strong>Hotline: 01847290392</strong></p>
                                </div>
                            </div>
                        </div><div class="six columns">
                            <div class="gdlr-item gdlr-content-item">
                                <div class="pf-content">
                                    <h5>Gulshan Campuses</h5>
                                    <p><strong> College</strong><br> House-36, Road-43, Gulshan-2, Dhaka-1212<br> Phone: 9845983<br> <strong>Hotline: 01847290393</strong></p>
                                    <p><strong>College</strong><br> House-(5),Road-35,Gulshan-2,Dhaka-1212<br> Phone: 9842065<br> <strong>Hotline: 01847290394</strong></p>
                                    <p><strong>College</strong><br> House-2/B, Road-84, Gulshan-2, Dhaka-1212<br> Phone: 9892456<br> <strong>Hotline: 01847290395</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-item gdlr-content-item" style="margin-bottom: 60px;">

                            <div class="gdlr-sidebar gdlr-right-sidebar four columns">
                                <div class="gdlr-item-start-content sidebar-right-item">
                                    <div id="text-7" class="widget widget_text gdlr-item gdlr-widget">
                                        <h3 class="gdlr-widget-title">Contact Information</h3><div class="clear"></div>			<div class="textwidget">
                                            <p>Plot# 13, Road # 1/A, Sector#14, Uttara Model Town, Dhaka 1230.</p>
                                            <p><i class="gdlr-icon icon-phone" style="color: #444444; font-size: 16px; "></i> 7920334, 7920340, 7920341, 8956952</p>
                                            <p><i class="gdlr-icon icon-envelope" style="color: #444444; font-size: 16px; "></i> info@bitschool.edu.bd</p>
                                            <p><i class="gdlr-icon icon-time" style="color: #444444; font-size: 16px; "></i> Sunday - Thursday 8:00 AM - 2:30 PM</p>
                                        </div>
                                    </div>
                                    <div id="text-8" class="widget widget_text gdlr-item gdlr-widget">
                                        			<div class="textwidget">
                                            <a href="http://facebook.com/goodlayers"><i class="gdlr-icon icon-facebook" style="color: #444444; font-size: 28px; "></i></a> <a href="http://twitter.com/goodlayers"><i class="gdlr-icon icon-twitter" style="color: #444444; font-size: 28px; "></i></a><a href="#"><i class="gdlr-icon icon-google-plus" style="color: #444444; font-size: 28px; "></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
