<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
    strong {
        font-weight: 100;
        font-size: 30px;
        color: #337ab7;
    }
</style>
<div class="page-area">
    <h2 class="page-title"><a>Transport</a></h2>
    <p style="text-align: justify;">
        <img src="~/images/8.jpg"><br>
        <strong>College Transport</strong><br>
        We offers transport facilities for day-shift students. Currently 550 students are using college transports. It plies from Uttara to Gazipur via Tongi and Uttara to Mohakhali, Banani, Khilkhet and Gulshan. We are always there for the students who live far from the college. Our busses are never late and always be on the shift. Thats why our transport is one of the best.
    </p>
</div>
<div class="page-area">
    <h2 class="page-title"><a>Library</a></h2>
    <p><img src="/images/6.jpg"></p>

    <p style="text-align: justify;">The college has a rich library. Students use the library in the tiffin period, Students of full-time schooling after lunch and residential students in the afternoon. The library is enriched with newspapers, magazines, periodicals along with textual, co-textual, story, novel and general knowledge books. We have now 25,000 books in the library. The library is fully air conditioned.</p>
</div>

<div class="page-area">
    <h2 class="page-title"><a>Auditorium</a></h2>
    <p><img src="~/images/12.jpg"></p>

    <p>We have well spacious Auditorium &nbsp;for meeting, assembly or programs all the year round. We have so many programs and debates every year and every students are attending there. Our hounorable Colonel Nurun Nabi (retd.), comes every year in the auditoriam for any function. Every year this auditoriam is designed with colors and many more decorations based on each of the function. Functions happning in this auditoriam are very helpful for developing the skills of the students in every aspect. </p>
</div>



	