<style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
        background-color: skyblue;
    }
</style>
<div class="page-area">
    <h2 class="page-title"><a>SSC Result</a></h2>
    <p><img src="~/images/m.jpg"></p>
</div>
<div class="page-area">
    <h2 class="page-title"><a>HSC Result</a></h2>
    <p><img src="/images/5.jpg"></p>
</div>